datacity:
  enabled: true
  ckanDgpDbNfsServer: "172.16.0.9"
  ckanDgpDbNfsPath: "/datacity/ckan-dgp-db"
  importer:
    nfsServer: "172.16.0.9"
    nfsPath: "/datacity/importer"
  ingresses:
    - name: frontend
      rules:
        - host: app.datacity.org.il
          serviceName: importer
          servicePort: 5000
    - name: nominatim
      rules:
        - host: geocode.datacity.org.il
          serviceName: nominatim
          servicePort: 8080
    - name: api
      rules:
        - host: api.datacity.org.il
          serviceName: api
          servicePort: 8000
    - name: ckan-dgp
      rules:
        - host: ckan-dgp.datacity.org.il
          serviceName: ckan-dgp
          servicePort: 5000

  vertical_pod_autoscalers:
  - apiVersion: apps/v1
    kind: deployment
    name: api
  - apiVersion: apps/v1
    kind: deployment
    name: db
  - apiVersion: apps/v1
    kind: deployment
    name: importer
  - apiVersion: apps/v1
    kind: deployment
    name: nominatim
