anyway:
  automatic-update:
    commit-message: automatic update of anyway testing environment
    namespace-name: anyway
    deployment-name: anyway
    container-name: anyway

anyway-production:
  chart-name: anyway
  automatic-update:
    commit-message: automatic update of anyway production environment
    namespace-name: anyway-production
    deployment-name: anyway
    container-name: anyway
    image-prop: productionImage

odata:
  lint-environments: odata
  automatic-update:
    commit-message: automatic update of odata-ckan
    namespace-name: odata-blue
    deployment-name: ckan
    container-name: ckan
    image-prop: ckanImage

mysadna:
  automatic-update:
    commit-message: automatic update of mysadna
    namespace-name: mysadna
    deployment-name: mysadna
    container-name: mysadna

oknesset:
  chart-name: oknesset
  automatic-update:
    commit-message: automatic update of knesset-data-backend
    namespace-name: oknesset
    deployment-name: knesset-data-backend
    container-name: backend
    image-prop: DataBackendImage

openpension:
  automatic-updates:
    - commit-message: automatic update of openpension
      namespace-name: openpension
      deployment-name: server
      container-name: server
      image-prop: server image
    - commit-message: automatic update of openpension
      namespace-name: openpension
      deployment-name: client
      container-name: client
      image-prop: client image

