odata:
  lint-environments: odata-kamatera
  automatic-update:
    commit-message: automatic update of odata-ckan
    namespace-name: odata
    deployment-name: ckan
    container-name: ckan
    image-prop: ckanImage
    kubeconfig: .rancher.kubeconfig

avidcovider:
  lint-environments: avidcovider-gcloud
  automatic-updates:
    - commit-message: automatic update of avid-covider pipelines
      namespace-name: avidcovider
      deployment-name: pipelines
      container-name: pipelines
      image-prop: pipelinesImage

anyway:
  lint-environments: anyway
  automatic-updates:
    - commit-message: automatic update of anyway
      namespace-name: anyway
      deployment-name: anyway-main
      container-name: anyway
      image-prop: image
      kubeconfig: .rancher.kubeconfig
    - commit-message: automatic update of anyway
      namespace-name: anyway
      deployment-name: anyway-secondaries
      container-name: anyway
      image-prop: image
      kubeconfig: .rancher.kubeconfig
    - commit-message: automatic update of anyway
      namespace-name: anyway
      deployment-name: nginx
      container-name: nginx
      image-prop: nginxImage
      kubeconfig: .rancher.kubeconfig
    - commit-message: automatic update of anyway-report docker image
      namespace-name: anyway
      deployment-name: reports
      container-name: reports
      image-prop: anywayReportsImage
      kubeconfig: .rancher.kubeconfig
    - commit-message: automatic update of prod etl anyway
      namespace-name: anyway
      deployment-name: airflow-webserver
      container-name: webserver
      image-prop: airflowImage
      kubeconfig: .rancher.kubeconfig
    - commit-message: automatic update of prod etl anyway
      namespace-name: anyway
      deployment-name: airflow-scheduler
      container-name: scheduler
      image-prop: airflowImage
      kubeconfig: .rancher.kubeconfig
    - commit-message: automatic update of prod etl anyway
      namespace-name: anyway
      deployment-name: airflow-nginx
      container-name: nginx
      image-prop: etlNginxImage
      kubeconfig: .rancher.kubeconfig

anyway-dev:
  lint-environments: anyway-dev
  chart-name: anyway
  automatic-updates:
    - commit-message: automatic update of dev anyway
      namespace-name: anyway-dev
      deployment-name: anyway-main
      container-name: anyway
      image-prop: imageDev
      kubeconfig: .rancher.kubeconfig
      pre-deploy-update-chart-config-value: true
    - commit-message: automatic update of dev anyway
      namespace-name: anyway-dev
      deployment-name: nginx
      container-name: nginx
      image-prop: nginxImageDev
      kubeconfig: .rancher.kubeconfig
      pre-deploy-update-chart-config-value: true
    - commit-message: automatic update of dev etl anyway
      namespace-name: anyway-dev
      deployment-name: airflow-webserver
      container-name: webserver
      image-prop: airflowImageDev
      kubeconfig: .rancher.kubeconfig
      pre-deploy-update-chart-config-value: true
    - commit-message: automatic update of dev etl anyway
      namespace-name: anyway-dev
      deployment-name: airflow-scheduler
      container-name: scheduler
      image-prop: airflowImageDev
      kubeconfig: .rancher.kubeconfig
      pre-deploy-update-chart-config-value: true
    - commit-message: automatic update of dev etl anyway
      namespace-name: anyway-dev
      deployment-name: airflow-nginx
      container-name: nginx
      image-prop: etlNginxImageDev
      kubeconfig: .rancher.kubeconfig
      pre-deploy-update-chart-config-value: true

datacity:
  lint-environments: datacity
  automatic-updates:
    - commit-message: automatic update of datacity ckan dgp server
      namespace-name: datacity
      deployment-name: ckan-dgp
      container-name: server
      image-prop: ckanDgpServerImage
      kubeconfig: .rancher.kubeconfig
    - commit-message: automatic update of datacity dgp importer
      namespace-name: datacity
      deployment-name: importer
      container-name: importer
      image-prop: dgpAppImage
      kubeconfig: .rancher.kubeconfig

openbus:
  lint-environments: openbus
  automatic-updates:
    - commit-message: automatic update of open bus siri requester
      namespace-name: openbus
      deployment-name: siri-requester
      container-name: app
      image-prop: siriRequesterImage
      kubeconfig: .rancher.kubeconfig
    - commit-message: automatic update of open bus siri requester
      namespace-name: openbus
      deployment-name: siri-requester
      container-name: health
      image-prop: siriRequesterImage
      kubeconfig: .rancher.kubeconfig
    - commit-message: automatic update of open bus siri requester
      namespace-name: openbus
      deployment-name: siri-requester-nginx
      container-name: nginx
      image-prop: siriRequesterNginxImage
      kubeconfig: .rancher.kubeconfig
    - commit-message: automatic update of open bus siri etl
      namespace-name: openbus
      deployment-name: siri-etl
      container-name: process-new-snapshots
      image-prop: siriEtlImage
      kubeconfig: .rancher.kubeconfig
    - commit-message: automatic update of open bus stride db
      namespace-name: openbus
      deployment-name: stride-db-migrations
      container-name: migrations
      image-prop: strideDbAppImage
      kubeconfig: .rancher.kubeconfig
    - commit-message: automatic update of open bus pipelines
      namespace-name: openbus
      deployment-name: airflow-scheduler
      container-name: scheduler
      image-prop: pipelinesImage
      kubeconfig: .rancher.kubeconfig
    - commit-message: automatic update of open bus pipelines
      namespace-name: openbus
      deployment-name: airflow-webserver
      container-name: webserver
      image-prop: pipelinesImage
      kubeconfig: .rancher.kubeconfig
    - commit-message: automatic update of open bus stride api
      namespace-name: openbus
      deployment-name: stride-api
      container-name: api
      image-prop: strideApiImage
      kubeconfig: .rancher.kubeconfig

redash:
  lint-environments: redash
