apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: hasadna-argocd-apps
spec:
  destination:
    namespace: argocd
    server: https://kubernetes.default.svc
  project: default
  source:
    path: apps/hasadna-argocd
    plugin:
      name: uumpa
    repoURL: https://github.com/hasadna/hasadna-k8s.git
    targetRevision: rke2-upgrade
#  syncPolicy:
#    automated:
#      prune: true
#      selfHeal: true
