rook-ceph:
  monitoring:
    enabled: true
  obcAllowAdditionalConfigFields: "maxObjects,maxSize,bucketPolicy"

ingresses:
  - name: ceph
    ssl: true
    rules:
      - host: "ceph.~iac:rke2_catchall_hostname~"
        serviceName: rook-ceph-mgr-dashboard
        servicePort: 7000
  - name: rgw
    ssl: true
    rules:
      - host: "rgw.~iac:rke2_catchall_hostname~"
        serviceName: rook-ceph-rgw-hasadna
        servicePort: 80

secrets:
  - name: kopia
    data:
      bucket_name: "~vault:Projects/iac/kopia:bucket_name~"
      bucket_region: "~vault:Projects/iac/kopia:bucket_region~"
      aws_access_key_id: "~vault:Projects/iac/kopia:aws_access_key_id~"
      aws_secret_access_key: "~vault:Projects/iac/kopia:aws_secret_access_key~"
      password: "~vault:Projects/iac/kopia:password~"
