apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: argo-install
spec:
  destination:
    namespace: argo
    server: https://kubernetes.default.svc
  project: default
  source:
    path: apps/argoworkflows/manifests
    repoURL: https://github.com/hasadna/hasadna-k8s.git
    targetRevision: master
    helm:
      parameters:
        - name: isRke2
          value: "true"
  syncPolicy:
    syncOptions:
    - CreateNamespace=true
