{{ if .Values.isRke2 }}
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: oknesset-nginx
spec:
  destination:
    namespace: oknesset
    server: https://kubernetes.default.svc
  project: oknesset
  source:
    path: apps/nginx
    plugin:
      name: uumpa
    repoURL: https://github.com/OriHoch/knesset-data-k8s.git
    targetRevision: master
  syncPolicy:
    {{ if .Values.allowAutoSync }}
    automated:
      prune: true
      selfHeal: true
    {{ end }}
    syncOptions:
    - CreateNamespace=true
{{ end }}
