{{ if .Values.isRke2 }}
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: reportit
spec:
  destination:
    namespace: reportit
    server: https://kubernetes.default.svc
  project: reportit
  source:
    path: apps/reportit
    plugin:
      name: uumpa
    repoURL: https://github.com/hasadna/hasadna-k8s.git
    targetRevision: master
  syncPolicy:
#    {{ if .Values.allowAutoSync }}
#    automated:
#      prune: true
#      selfHeal: true
#    {{ end }}
    syncOptions:
    - CreateNamespace=true
{{ end }}
