{{ if .Values.isRke2 }}
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: migdar
spec:
  destination:
    namespace: migdar
    server: https://kubernetes.default.svc
  project: migdar
  source:
    path: apps/migdar
    plugin:
      name: uumpa
    repoURL: https://github.com/hasadna/migdar-k8s.git
    targetRevision: master
  syncPolicy:
#    {{ if .Values.allowAutoSync }}
#    automated:
#      prune: true
#      selfHeal: true
#    {{ end }}
    syncOptions:
    - CreateNamespace=true
{{ end }}
