apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: srm-site-staging
spec:
  destination:
    name: datacity
    namespace: srm-site-staging
  project: srm
  source:
    path: helm/site
    plugin:
      env:
      - name: ENVIRONMENT
        value: staging
      name: uumpa
    repoURL: https://github.com/whiletrue-industries/srm-devops.git
    targetRevision: main
  syncPolicy:
    {{ if .Values.allowAutoSync }}
    automated:
      prune: true
      selfHeal: true
    {{ end }}
    syncOptions:
    - CreateNamespace=true
