apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: forum
spec:
  destination:
    namespace: forum
    server: https://kubernetes.default.svc
  project: default
  source:
    path: apps/forum
    plugin:
      name: uumpa
    repoURL: https://github.com/hasadna/hasadna-k8s.git
    targetRevision: rke2-upgrade
  syncPolicy:
    syncOptions:
    - CreateNamespace=true
