apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: openlaw
spec:
  destination:
    namespace: openlaw
    server: https://kubernetes.default.svc
  project: openlaw
  source:
    path: apps/openlaw
    plugin:
      name: uumpa
    repoURL: https://github.com/hasadna/hasadna-k8s.git
    targetRevision: master
    helm:
      parameters:
        - name: isRke2
          value: "true"
  syncPolicy:
    {{ if .Values.allowAutoSync }}
    automated:
      prune: true
      selfHeal: true
    {{ end }}
    syncOptions:
    - CreateNamespace=true
