enabled: true

mariadb:
  auth:
    existingSecret: mariadb-auth
  primary:
    persistence:
      existingClaim: "db"

cronWorkflows:
  - name: fetch-tree-permit
    command: bin/fetch_tree_permit
    coralogixServiceName: "fetch_tree_permit"
    schedule: "20 8,20 ? * 1-5 *"
  - name: iplan
    command: bin/iplan
    coralogixServiceName: "iplan"
    schedule: "0 8-20 ? * 1-5 *"
  - name: send-emails
    command: bin/send_emails
    coralogixServiceName: "send_emails"
    schedule: "0 * ? * 1-5 *"
  - name: send-emails-trees
    command: bin/send_emails_trees
    coralogixServiceName: "send_emails_trees"
    schedule: "0 * ? * 1-5 *"
  - name: mavat-backfill
    command: "node bin/complete_mavat_data.js"
    coralogixServiceName: "mavat_backfill"
    schedule: "0 0 ? * FRI *"

ingresses:
  - name: meirim-server
    ssl: true
    rules:
      - host: "api.meirim.org"
        serviceName: server
        servicePort: 80
  - name: meirim-client
    ssl: true
    rules:
      - host: "meirim.org"
        serviceName: client
        servicePort: 80
      - host: "www.meirim.org"
        serviceName: client
        servicePort: 80

secrets:
  - name: mariadb-auth
    data:
      mariadb-root-password: "~vault:Projects/meirim/k8s-mariadb:root-password~"
  - name: meirim-server-env
    data:
      AWS_ACCESS_KEY_ID: "~vault:Projects/meirim/server-env:AWS_ACCESS_KEY_ID~"
      AWS_SECRET_ACCESS_KEY: "~vault:Projects/meirim/server-env:AWS_SECRET_ACCESS_KEY~"
      NODE_ENV: "~vault:Projects/meirim/server-env:NODE_ENV~"
      SERVER_CORALOGIX_API_KEY: "~vault:Projects/meirim/server-env:SERVER_CORALOGIX_API_KEY~"
      SERVER_CORALOGIX_SERVICE_NAME: "~vault:Projects/meirim/server-env:SERVER_CORALOGIX_SERVICE_NAME~"
      SERVER_CYPHER_SECRET: "~vault:Projects/meirim/server-env:SERVER_CYPHER_SECRET~"
#      SERVER_DATABASE_HOST: "~vault:Projects/meirim/server-env:SERVER_DATABASE_HOST~"
#      SERVER_DATABASE_PASSWORD: "~vault:Projects/meirim/server-env:SERVER_DATABASE_PASSWORD~"
      SERVER_DATABASE_PASSWORD: "~vault:Projects/meirim/k8s-mariadb:root-password~"
#      SERVER_DATABASE_USER: "~vault:Projects/meirim/server-env:SERVER_DATABASE_USER~"
      SERVER_DATABASE_USER: "~vault:Projects/meirim/k8s-mariadb:root-user~"
      SERVER_EMAIL_DIGEST_PLANS: "~vault:Projects/meirim/server-env:SERVER_EMAIL_DIGEST_PLANS~"
      SERVER_EMAIL_SMTP_AUTH_PASSWORD: "~vault:Projects/meirim/server-env:SERVER_EMAIL_SMTP_AUTH_PASSWORD~"
      SERVER_EMAIL_SMTP_AUTH_TEMPLATE_PASS: "~vault:Projects/meirim/server-env:SERVER_EMAIL_SMTP_AUTH_TEMPLATE_PASS~"
      SERVER_EMAIL_SMTP_AUTH_USER: "~vault:Projects/meirim/server-env:SERVER_EMAIL_SMTP_AUTH_USER~"
      SERVER_EMAIL_SMTP_HOST: "~vault:Projects/meirim/server-env:SERVER_EMAIL_SMTP_HOST~"
      SERVER_GEOCODER_API_KEY: "~vault:Projects/meirim/server-env:SERVER_GEOCODER_API_KEY~"
      #SERVER_PAYMENT_SERVICE_API_KEY: "~vault:Projects/meirim/server-env:SERVER_PAYMENT_SERVICE_API_KEY~"
      #SERVER_PAYMENT_SERVICE_MASOF_ID: "~vault:Projects/meirim/server-env:SERVER_PAYMENT_SERVICE_MASOF_ID~"
      #SERVER_PAYMENT_SERVICE_PASS: "~vault:Projects/meirim/server-env:SERVER_PAYMENT_SERVICE_PASS~"
      SERVER_PROXY_API_KEY: "~vault:Projects/meirim/server-env:SERVER_PROXY_API_KEY~"
      SERVER_SENTRY_DSN: "~vault:Projects/meirim/server-env:SERVER_SENTRY_DSN~"
      SERVER_SESSION_SECRET: "~vault:Projects/meirim/server-env:SERVER_SESSION_SECRET~"
      VERSION: "~vault:Projects/meirim/server-env:VERSION~"
