{{ if .Values.ingresses }}
{{ range .Values.ingresses }}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ .name }}
  annotations:
  {{ if .ssl }}
    cert-manager.io/cluster-issuer: letsencrypt
  {{ end }}
  {{ if .httpauth }}
    nginx.ingress.kubernetes.io/auth-type: basic
    nginx.ingress.kubernetes.io/auth-secret: {{ .httpauth.secretName | quote }}
    nginx.ingress.kubernetes.io/auth-realm: {{ .httpauth.message | quote }}
  {{ end }}
  {{ if .permanentRedirect }}
    nginx.ingress.kubernetes.io/permanent-redirect: {{ .permanentRedirect | quote }}
  {{ end }}
    nginx.ingress.kubernetes.io/proxy-body-size: "500m"
spec:
  rules:
  {{ range .rules }}
  - host: {{ .host }}
    http:
      paths:
      - path: "/"
        pathType: Prefix
        backend:
          service:
            name: {{ .serviceName }}
            port:
              number: {{ .servicePort }}
  {{ end }}
  {{ if .ssl }}
  tls:
  - hosts:
    {{ range .rules }}
    - {{ .host }}
    {{ end }}
    secretName: {{ .name }}-cert
  {{ end }}
---
{{ end }}
{{ end }}
