{{ if .Values.enabled }}
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: client
spec:
  replicas: 1
  revisionHistoryLimit: 2
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: client
    spec:
      terminationGracePeriodSeconds: 1
      containers:
      - name: client
        image: {{ .Values.client.image }}
        resources: {{ .Values.client.resources }}
        ports:
        - containerPort: 80
{{ end }}
