{{ if .Values.enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: botkit
spec:
  selector:
    matchLabels:
      app: botkit
  replicas: 1
  revisionHistoryLimit: 2
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: botkit
    spec:
      terminationGracePeriodSeconds: 10
      containers:
      - name: botkit
        image: hasadna/reportit-botkitcms
        ports:
        - containerPort: 3000
        resources: {{ .Values.botkit.resources }}
        volumeMounts:
        - name: data
          mountPath: /botkit-cms-master/.data
          subPath: reportit_scripts
      volumes:
      - name: data
        {{ if .Values.botkit.persistentVolumeClaimName }}
        persistentVolumeClaim:
          claimName: {{ .Values.botkit.persistentVolumeClaimName | quote }}
        {{ else if .Values.botkit.nfsServer }}
        nfs:
          server: {{ .Values.botkit.nfsServer | quote }}
          path: {{ .Values.botkit.nfsPath | quote }}
        {{ end }}
{{ end }}
