{{ if .Values.enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: ckan-dgp
spec:
  selector:
    matchLabels:
      app: ckan-dgp
  replicas: 1
  revisionHistoryLimit: 2
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: ckan-dgp
    spec:
      terminationGracePeriodSeconds: 10
      containers:
      - name: db
        image: "docker.pkg.github.com/hasadna/datacity-ckan-dgp/datacity-ckan-dgp-db:210085d803fd866c24f2d644920dd276527d74f1"
        resources: {"requests": {"cpu": "125m", "memory": "256Mi"}, "limits": {"cpu": "250m", "memory": "2Gi"}}
        volumeMounts:
          - name: data
            mountPath: /var/lib/postgresql/data
            subPath: postgres_data2
      - name: server
        image: {{ .Values.ckanDgpServerImage | default "docker.pkg.github.com/hasadna/datacity-ckan-dgp/server" | quote }}
        resources: {"requests": {"cpu": "1500m", "memory": "2500Mi"}, "limits": {"cpu": "1500m", "memory": "4000Mi"}}
        command:
          - sh
          - -c
          - |
            # chown -R etl:etl /app/airflow &&\
            HOME=/app exec su etl -mc /app/datacity_ckan_entrypoint.sh
        securityContext:
          runAsGroup: 0
          runAsUser: 0
        volumeMounts:
          - name: logs
            mountPath: /app/airflow/logs
            subPath: airflow-logs
        ports:
        - containerPort: 5000
        env:
        - name: EXTERNAL_ADDRESS
          value: https://ckan-dgp.datacity.org.il
        - name: PUBLIC_KEY
          valueFrom: {"secretKeyRef":{"name":"datacity", "key":"PUBLIC_KEY"}}
        - name: PRIVATE_KEY
          valueFrom: {"secretKeyRef":{"name":"datacity", "key":"PRIVATE_KEY"}}
        - name: GITHUB_KEY
          valueFrom: {"secretKeyRef":{"name":"ckan-dgp", "key":"GITHUB_KEY"}}
        - name: GITHUB_SECRET
          valueFrom: {"secretKeyRef":{"name":"ckan-dgp", "key":"GITHUB_SECRET"}}
        - name: DATABASE_URL
          value: postgresql://postgres:postgres@localhost/auth
        - name: DATASETS_DATABASE_URL
          value: postgresql://postgres:postgres@localhost/datasets
        - name: AIRFLOW__CORE__SQL_ALCHEMY_CONN
          value: postgresql://postgres:postgres@localhost/airflow
        - name: ETLS_DATABASE_URL
          value: postgresql://postgres:postgres@localhost/etls
        - name: BUCKET_NAME
          valueFrom: {"secretKeyRef":{"name":"datacity", "key":"BUCKET_NAME"}}
        - name: AWS_ACCESS_KEY_ID
          valueFrom: {"secretKeyRef":{"name":"datacity", "key":"AWS_ACCESS_KEY_ID"}}
        - name: AWS_SECRET_ACCESS_KEY
          valueFrom: {"secretKeyRef":{"name":"datacity", "key":"AWS_SECRET_ACCESS_KEY"}}
        - name: AWS_REGION
          valueFrom: {"secretKeyRef":{"name":"datacity", "key":"AWS_REGION"}}
        - name: S3_ENDPOINT_URL
          valueFrom: {"secretKeyRef":{"name":"datacity", "key":"S3_ENDPOINT_URL"}}
        envFrom:
        - secretRef: {"name": "ckan-dgp-instances"}
      volumes:
        - name: data
          nfs:
            server: {{ .Values.ckanDgpDbNfsServer | quote }}
            path: {{ .Values.ckanDgpDbNfsPath | quote }}
        - name: logs
          nfs:
            server: {{ .Values.ckanDgpLogsNfsServer | quote }}
            path: {{ .Values.ckanDgpLogsNfsPath | quote }}
{{ end }}
