apiVersion: apps/v1
kind: Deployment
metadata:
  name: ng-db
spec:
  selector:
    matchLabels:
      app: ng-db
  replicas: 1
  revisionHistoryLimit: 2
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: ng-db
    spec:
      terminationGracePeriodSeconds: 60
      containers:
      - name: db
        image: {{ .Values.ngDb.image }}
        resources: {{ toYaml .Values.ngDb.resources | nindent 10 }}
        env:
        - name: POSTGRES_PASSWORD
          valueFrom: {"secretKeyRef":{"name":"ng-app", "key":"DJANGO_DATABASE_PASSWORD"}}
        volumeMounts:
        - name: data
          mountPath: /var/lib/postgresql/data
          subPath: db
      volumes:
      - name: data
        nfs:
          server: {{ .Values.nfsServer | quote }}
          path: {{ .Values.ngDb.nfsPath | quote }}
