{{ if .Values.enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: db
spec:
  selector:
    matchLabels:
      app: db
  replicas: 1
  revisionHistoryLimit: 2
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: db
    spec:
      terminationGracePeriodSeconds: 10
      {{ if .Values.dbNodeSelector }}
      nodeSelector:
        kubernetes.io/hostname: {{ .Values.dbNodeSelector }}
      {{ end }}
      containers:
      - name: db
        # we don't want to auto-update the DB!
        image: anywayteam/db:sha-4fa1bfa
        resources: {{ .Values.dbResources }}
        ports:
          - containerPort: 5432
            {{ if .Values.dbHostPort }}hostPort: {{ .Values.dbHostPort }}{{ end }}
        envFrom:
          - secretRef: {"name": "db"}
        env:
          - name: POSTGRES_USER
            value: "postgres"
          - name: POSTGRES_DB
            value: "postgres"
          - name: DBRESTORE_AWS_BUCKET
            value: "anyway-full-db-dumps"
          - name: DBRESTORE_FILE_NAME
            value: {{ .Values.dbRestoreFileName | quote }}
        volumeMounts:
        - name: data
          mountPath: /var/lib/postgresql/data
          # postgres doesn't let you use the root of a disk (it complaints about having lost+found directory)
          subPath: dbdata
      volumes:
      - name: data
        {{ if and .Values.dbNfsServer .Values.dbNfsPath }}
        nfs:
          server: {{ .Values.dbNfsServer | quote }}
          path: {{ $.Values.dbNfsPath | quote }}
        {{ else }}
        emptyDir: {}
        {{ end }}
{{ end }}
