openbus:
  enabled: true
  nfsServer: "172.16.0.9"
  sshTunnelSecretName: sshtunnel

  # siriRequesterPauseForDebug: true
  siriRequesterResources: '{"requests": {"cpu": "200m", "memory": "1000Mi"}, "limits": {"memory": "1500Mi"}}'
  siriRequesterNginxResources: '{"requests": {"cpu": "50m", "memory": "100Mi"}, "limits": {"memory": "200Mi"}}'
  siriRequesterHealthResources: '{"requests": {"cpu": "50m", "memory": "100Mi"}, "limits": {"memory": "200Mi"}}'
  siriRequesterNfsPath: "/openbus/siri-requester"
  siriRequesterSecretName: siri-requester

  siriEtlProcessNewSnapshotsResources: '{"requests": {"cpu": "3000m", "memory": "4000Mi"}, "limits": {"memory": "8000Mi"}}'

  db:
    enabled: false
    # image is used for the stride-db-migrations, it should use the same version as the dedicated db uses
    image: "postgres:14"
    # resources: '{"requests": {"cpu": "6000m", "memory": "30000Mi"}, "limits": {"cpu": "6000m", "memory": "30000Mi"}}'
    # nfsServer: "172.16.0.12"
    # nfsPath: "/stride/db"
    # nodePort: 31834
    # backupSchedule: "37 1 * * *"
    # backupImage: "docker.pkg.github.com/hasadna/open-bus-stride-db/open-bus-stride-db-backup:d358f4dfa16e60f9aad8946cad314fa4b5a195cb"
    # backupResources: '{"requests": {"cpu": "200m", "memory": "1500Mi"}, "limits": {"cpu": "400m", "memory": "3000Mi"}}'

  airflowHomeNfsPath: "/openbus/airflow-home"
  airflowDb:
    image: "postgres:13"
    resources: '{"requests": {"cpu": "200m", "memory": "1000Mi"}, "limits": {"memory": "2000Mi"}}'
    nfsPath: "/openbus/airflow-db"
  airflowWebserver:
    resources: '{"requests": {"cpu": "250m", "memory": "1000Mi"}, "limits": {"memory": "2000Mi"}}'
  airflowScheduler:
    resources: '{"requests": {"cpu": "600m", "memory": "8000Mi"}, "limits": {"memory": "12000Mi"}}'

  airflow:
    enableEmails: true
    AIRFLOW__SMTP__SMTP_MAIL_FROM: "Open Bus Airflow <open-bus-airflow@hasadna.org.il>"
    AIRFLOW__WEBSERVER__BASE_URL: "https://open-bus-airflow.hasadna.org.il"

  strideApiResources: {"requests": {"cpu": "1000m", "memory": "1000Mi"}, "limits": {"memory": "2000Mi"}}

  gtfsNfsPath: "/openbus/gtfs"

  ingresses:
    - name: siri-requester
      ssl: true
      rules:
        - host: open-bus-siri-requester.hasadna.org.il
          serviceName: siri-requester-nginx
          servicePort: 80
    - name: airflow-webserver
      ssl: true
      rules:
        - host: open-bus-airflow.hasadna.org.il
          serviceName: airflow-webserver
          servicePort: 8080
    - name: stride-api
      ssl: true
      rules:
        - host: open-bus-stride-api.hasadna.org.il
          serviceName: stride-api
          servicePort: 80
    - name: gtfs
      ssl: true
      rules:
        - host: open-bus-gtfs-data.hasadna.org.il
          serviceName: gtfs-nginx
          servicePort: 80
    - name: webmon
      ssl: true
      rules:
        - host: open-bus-webmon.hasadna.org.il
          serviceName: webmon
          servicePort: 8901
