{{ if .Values.enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: db
spec:
  selector:
    matchLabels:
      app: db
  replicas: 1
  revisionHistoryLimit: 2
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: db
    spec:
      terminationGracePeriodSeconds: 10
      containers:
      - name: db
        image: postgres:11
        ports:
        - containerPort: 5432
        resources: {{ .Values.dbResources }}
        env:
        - name: POSTGRES_PASSWORD
          valueFrom: {"secretKeyRef":{"name":"db", "key":"POSTGRES_PASSWORD"}}
        - name: POSTGRES_USER
          valueFrom: {"secretKeyRef":{"name":"db", "key":"POSTGRES_USER"}}
        - name: POSTGRES_HOST
          value: "db"
        - name: POSTGRES_DB
          value: openpension       
        volumeMounts:
        - name: data
          mountPath: /var/lib/postgresql/data
          # postgres doesn't let you use the root of a disk (it complaints about having lost+found directory)
          subPath: dbdata
      volumes:
      - name: data
      {{ if .Values.dbPersistentDiskName }}
        gcePersistentDisk:
          pdName: {{ .Values.dbPersistentDiskName | quote }}
      {{ else if .Values.dbNfsServer }}
        nfs:
          server: {{ .Values.dbNfsServer | quote }}
          path: {{ .Values.dbNfsPath | quote }}
      {{ else }}
        emptyDir: {}
      {{ end }}
{{ end }}
