enabled: true
dbResources: '{"requests": {"cpu": "25m", "memory": "256Mi"}, "limits": {"cpu": "78m", "memory": "1699Mi"}}'
dbNfsServer: "~iac:hasadna_nfs1_internal_ip~"
dbNfsPath: "/openpension/db"
dbNodeSelector: hasadna-worker2
dbHostPort: 28431

vertical_pod_autoscalers:
- apiVersion: apps/v1
  kind: deployment
  name: db

nfsServer: "~iac:hasadna_nfs1_internal_ip~"

ngDb:
  # Pulled Apr 24, 2023
  image: postgres:15@sha256:6cc97262444f1c45171081bc5a1d4c28b883ea46a6e0d1a45a8eac4a7f4767ab
  nfsPath: "/openpension/ng_db"
  resources:
    requests:
      cpu: 100m
      memory: 256Mi
    limits:
      cpu: 200m
      memory: 512Mi

ngWeb:
  resources:
    requests:
      cpu: 100m
      memory: 256Mi
    limits:
      cpu: 200m
      memory: 512Mi

#qcluster:
#  settingsJson: '{"workers": 1}'
#  resources:
#    requests:
#      cpu: 100m
#      memory: 512Mi
#    limits:
#      cpu: 200m
#      memory: 1024Mi

ngNginx:
  resources:
    requests:
      cpu: 100m
      memory: 256Mi
    limits:
      cpu: 200m
      memory: 512Mi

secrets:
  - name: app
    data:
      DJANGO_SECRET_KEY: "~vault:Projects/open-pension/k8s-secrets:DJANGO_SECRET_KEY~"
      DJANGO_DATABASE_PASSWORD: "~vault:Projects/open-pension/k8s-secrets:DJANGO_DATABASE_PASSWORD~"
      DJANGO_SUPERUSER_NAME: "~vault:Projects/open-pension/k8s-secrets:DJANGO_SUPERUSER_NAME~"
      DJANGO_SUPERUSER_PASSWORD: "~vault:Projects/open-pension/k8s-secrets:DJANGO_SUPERUSER_PASSWORD~"
      DJANGO_SUPERUSER_EMAIL: "~vault:Projects/open-pension/k8s-secrets:DJANGO_SUPERUSER_EMAIL~"

ngAppIngress:
  host: "~iac:ingress-open-pension-ng-webapp~"
