apiVersion: apps/v1
kind: Deployment
metadata:
  name: argo-server
  namespace: argo
spec:
  template:
    spec:
      containers:
        - name: argo-server
          command: ["argo", "server", "--secure=false", "--auth-mode=sso"]
          readinessProbe:
            httpGet:
              scheme: HTTP
