enabled: true
resources: '{"requests": {"cpu": "50m", "memory": "100Mi"}, "limits": {"memory": "500Mi"}}'
#nfsServer: "~iac:hasadna_nfs1_internal_ip~"
#nfsPath: "/hasadna/vault"
ingresses:
  - name: vault
    ssl: true
    rules:
      - host: vault.~iac:rke2_catchall_hostname~
        serviceName: vault
        servicePort: 8200
