enabled: true
deployments:
  - name: datacity
    enabled: true
    image: wordpress@sha256:95668fadc012aa882a19ffc875e5e2164a0a2fc7e201c869d0bc20ac0fab41c1
    resources: '{"requests": {"cpu": "100m", "memory": "256Mi"}, "limits": {"cpu": "300m", "memory": "1543Mi"}}'
#    nfsServer: "~iac:hasadna_nfs1_internal_ip~"
#    nfsPath: "/wordpress/datacity"
    pvcName: datacity2
    dbName: datacity
    php_ini:
#       Maximum size of POST data that PHP will accept.
      post_max_size: "100M"
#       Maximum allowed size for uploaded files.
      upload_max_filesize: "100M"
#       Maximum number of files that can be uploaded via a single request
      max_file_uploads: "20"
# we use a static export of this wordpress site
#  - name: socialpro-social
#    image: wordpress@sha256:78f9132d3d5db7eb781cab58621867aba09d763cbaafab3e9a09ceae66cb1c17
#    resources: '{"requests": {"cpu": "500m", "memory": "1024Mi"}, "limits": {"cpu": "800m", "memory": "2048Mi"}}'
#    pvcName: socialpro-social
#    dbName: socialprosocial
#    php_ini: {}
  - name: budgetism
    enabled: true
    # Pulled Dec 4, 2025
    image: wordpress:php7.4-apache
    resources: '{"requests": {"cpu": "100m", "memory": "256Mi"}, "limits": {"cpu": "300m", "memory": "1543Mi"}}'
    pvcName: budgetism
    dbName: budgetism
    php_ini:
      post_max_size: "100M"
      upload_max_filesize: "100M"
      max_file_uploads: "20"

#dbResources: '{"requests": {"cpu": "50m", "memory": "309Mi"}, "limits": {"cpu": "150m", "memory": "2215Mi"}}'
#dbNfsServer: "~iac:hasadna_nfs1_internal_ip~"
#dbNfsPath: "/wordpress/db"
ingresses:
  - name: sites
    # maximum allowed size for uploaded files
    proxy_body_size: "100m"
    rules:
      - host: www.datacity.org.il
        serviceName: datacity
        servicePort: 80
      - host: act.obudget.org
        serviceName: budgetism
        servicePort: 80
  - name: socialpro-soial
    rules:
      - host: social.socialpro.org.il
        serviceName: socialsocialpro
        servicePort: 80

#vertical_pod_autoscalers:
#- apiVersion: apps/v1
#  kind: deployment
#  name: db
#- apiVersion: apps/v1
#  kind: deployment
#  name: datacity

secrets:
#  - name: socialpro-social
#    data:
#      DB_PASSWORD: "~vault:Projects/wordpress/socialpro_social:db_password~"
  - name: budgetism
    data:
      DB_PASSWORD: "~vault:Projects/wordpress/budgetism:db_password~"
