{{ if and .Values.enabled .Values.ckanDeploymentEnabled }}
{{ if .Values.ckanJobsEnabled }}
apiVersion: extensions/v1beta1
kind: Deployment
metadata: {name: ckan-jobs-db}
spec:
  replicas: 1
  revisionHistoryLimit: 2
  strategy:
    type: Recreate
  template:
    metadata:
      labels: {app: ckan-jobs-db}
    spec:
      {{ if .Values.ckanJobsDbTerminationGracePeriodSeconds }}
      terminationGracePeriodSeconds: {{ .Values.ckanJobsDbTerminationGracePeriodSeconds }}
      {{ end }}
      containers:
      - name: postgres
        image: postgres:11
        ports:
        - containerPort: 5432
        env:
        - name: POSTGRES_PASSWORD
          value: "123456"
        resources: {{ .Values.ckanJobsDbResources }}
        volumeMounts:
        - mountPath: /var/lib/postgresql/data
          name: data
          subPath: ckan-jobs-db
      volumes:
      - name: data
        {{ if .Values.hostPath }}
        hostPath:
          path: {{ .Values.hostPath | quote }}
          type: DirectoryOrCreate
        {{ else }}
        nfs:
          server: {{ .Values.ckanDataNfsServer | default "nfs" | quote }}
          path: "/"
        {{ end }}
{{ end }}
{{ end }}
